@import 'reset';
@import 'variables';
@import 'mixin';

input,
button {
  cursor: pointer;
}

.cardWrap {
  display: grid;
  place-items: stretch;
  box-sizing: border-box;
  grid-template-rows: calc(100% - 5rem) 5rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  div:nth-child(2) {
    display: flex;
    place-self: stretch;
    background: #fff;
    z-index: 1;
    .cartIcon {
      font-size: 2rem;
      padding: 1rem;
      margin: auto;
      margin-right: 0;
      cursor: pointer;
    }
  }
  img {
    transition: transform 0.2s ease-in-out 0s;
    &:hover {
      transform: scale(1.1);
    }
  }
}
.infoWrap {
  display: grid;
  align-content: center;
  grid-gap: 0.5rem;
  padding: 1rem;
  span:first-child {
    font-weight: bold;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul {
  padding: 1rem;
  display: flex;
  justify-content: center;
  li {
    cursor: pointer;
    padding: 1rem;
    font-size: 1.5rem;
  }
}

a {
  text-decoration: none;
  color: $fontColor;
  &:hover {
    border-bottom: 2px solid $pointColor;
  }
}

.selectPage {
  font-weight: bold;
  color: $pointColor;
  border-bottom: 2px solid $pointColor;
}

.cartListWrap {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  min-height: 50vh;
  padding: 1rem;
  grid-gap: 1rem;
  box-sizing: border-box;

  p {
    text-align: center;
  }
}
.cartListRow {
  display: grid;
  grid-template-columns: 1rem 1fr 1fr;
  height: inherit;
  box-sizing: border-box;
  align-items: center;
  grid-gap: 1rem;
  button {
    justify-self: flex-end;
  }
}
.cartHandler {
  padding: 1rem;
}
.couponWrap {
  label {
    font-size: 1.5rem;
  }
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  border: 1px solid $lineColor;
}
.priceWrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin-bottom: 1rem;
  &.discount {
    span:nth-child(2) {
      color: red;
      font-weight: bold;
    }
  }
  &.payment {
    font-size: 1.3rem;
    font-weight: bold;
    border-top: 1px solid $lineColor;
    padding: 1rem;
    margin: 0;
  }
}
.disCountWrap {
  padding: 1rem;
  p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}
.paymentBtn {
  width: 100%;
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
  font-weight: 500;
  color: #ffff;
  background: $pointColor;
  cursor: pointer;
}

.logoWrap {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
  box-sizing: border-box;
}

input[type='checkbox'] {
  width: 1rem;
  height: 1rem;
  &:checked:before {
    background-color: green;
  }
}

@include desktop {
  .listWrap {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 35vh);
    grid-gap: 1rem;
    padding: 1rem;
    border-bottom: 1px solid $lineColor;
    border-top: 1px solid $lineColor;
    .cardWrap:first-child {
      grid-area: 1 / 1 / 2 / 3;
    }
    .cardWrap:nth-child(2) {
      grid-area: 1 / 3 / 2 / 5;
    }
    .cardWrap:nth-child(3) {
      grid-area: 1 / 5 / 2 / 7;
    }
    .cardWrap:nth-child(4) {
      grid-area: 2 / 1 / 3 / 4;
    }
    .cardWrap:nth-child(5) {
      grid-area: 2 / 4 / 3 / 7;
    }
  }
  .appWrap {
    width: 80%;
    margin: auto;
  }
}

@include tablet {
  .listWrap {
    display: grid;
    grid-auto-rows: 1fr;
    grid-gap: 1rem;
    padding: 1rem;
    border-bottom: 1px solid $lineColor;
    border-top: 1px solid $lineColor;
  }
}

@include mobile {
  .listWrap {
    display: grid;
    grid-row-gap: 1rem;
    grid-auto-rows: 1fr;
    padding: 1rem;
    border-bottom: 1px solid $lineColor;
    border-top: 1px solid $lineColor;
  }
}
